$shadow-color: rgba(0, 0, 0, 0.3);
html {
    height: 100%;
}
body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 20px;
    z-index: 10;
    text-align: center;
    border-bottom: 1px solid black;
    background: white;
    box-shadow: 0 0 15px $shadow-color;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    margin: 5px;
}

h3 {
    font-size:  1.7rem;
    margin-bottom: 5px;
    font-weight: 300;
}

nav {
    border: 1px solid black;
    position: fixed;
    top: 10px;
    right: 50%;
    margin-top: 100px;
    margin-right: 400px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    box-shadow: 0 0 10px $shadow-color;
    z-index: 1;
    
    > a {
        color: black;
        padding: 10px;
        margin: 0 5px;
        font-size: 1.7rem;
        text: {
            align: center;
            decoration: none;
        }
        
        &:hover {
            text-shadow: 0 0 60px $shadow-color;   
        }
    }

    > a + a {        
        border-top: 1px solid black;
    }
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: calc(100vh - 192px);

    p {
        font-size: 1.2rem;
    }
}

div.page {
    width: 750px;
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0 0 10px $shadow-color;
    
    + div.page {
        margin-top: 15px;
    }
}

.picture-frame {
    overflow: hidden;
}

#about {
    #profile-picture {
        margin: 20px;
        float: left;
        border-radius: 50%;
        height: 150px;
        width: 150px;

        > img {
            width: 160px;
            height: auto;
            margin: -10px -10px;
        }
    }

    #collage {
        clear: both;
        width: 100%;
        height: 400px;
        column: {
            count: 3;
            gap: 0;
        }

        img {
            width: 100%;
        }

        .picture-frame {
            &:nth-child(1) {
                height: 150px;

                img {
                    margin-top: -75px;
                }
            }

            &:nth-child(2) {
                height: 250px;
            }

            &:nth-child(3) {
                height: 215px;

                img {
                    width: 130%;
                }
            }
            
            &:nth-child(4) {
                height: 185px;

                img {
                    margin-top: -35px;
                    margin-left: -15%;
                    width: 140%;
                }
            }
            
            &:nth-child(5) {
                height: 160px;
            }
            
            &:nth-child(6) {
                height: 240px;

                img {
                    margin-top: -30px;
                }
            }
        }
        
        > div {
            display: flex;
            flex-direction: column;
        }
    }
    

}

#projects {
    h3 {
        clear: both;
    }

    time {
        font-style: italic;
        margin: 5px;
    }

    .picture-frame {
        float: right;
        width: 40%;

        img {
            width: 100%;
        }
    }
}

#contact {
    > div {
        display: flex;
        justify-content: center;

        .option {
            margin: 10px 0px;
            padding: 10px 40px;
            text-align: center;

            h3 {
                margin: 5px;
            }

            & + .option {
                border-left: 1px solid black;
            }
        }
    }
}

footer {
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
    bottom: 0;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
    background: white;
    box-shadow: 0 0 15px $shadow-color;
}