$primary-color: #01579b;
$primary-light-color: #4f83cc;
$primary-dark-color: #002f6c;
$text-primary-color: #ffffff;

$secondary-color: #c62828;
$secondary-light-color: #ff5f52;
$secondary-dark-color: #8e0000;
$text-secondary-color: #ffffff;

$shadow-color: rgba(0, 0, 0, 0.5);

html {
    height: 100%;
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    background: $primary-dark-color;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 20px;
    z-index: 10;
    text-align: center;
    box-shadow: 0 0 15px $shadow-color;
    background: $primary-color;
    color: $text-primary-color;
}

h1 {
    font-size: 3.6rem;
    font-weight: 100;
    margin: 0;
}

h2 {
    font-size: 3rem;
    font-weight: 200;
    margin: 5px;
}

h3 {
    font-size:  1.7rem;
    margin-bottom: 5px;
    font-weight: 300;
    padding: 3px 5px;
    background: $secondary-dark-color;
    color: $text-secondary-color;
    box-shadow: 0 0 5px $shadow-color;
}

a {
    &, &:visited {
        color: $secondary-dark-color;
    }

    &:hover {
        color: $secondary-color;
        text-shadow: 0 0 50px $shadow-color;
    }
}

nav {
    position: fixed;
    top: 10px;
    right: 50%;
    margin-top: 110px;
    margin-right: 400px;
    padding: 5px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 0 10px $shadow-color;
    background: $secondary-color;
    
    > a {
        color: $text-secondary-color;
        padding: 10px;
        font-size: 1.7rem;

        text: {
            align: center;
            decoration: none;
        }

        &:visited {
            color: $text-secondary-color;
        }

        &:hover {
            background: $secondary-light-color;
            color: $text-secondary-color;
            box-shadow: 0 0 3px $shadow-color;
        }

        &.active {
            background: $secondary-dark-color;
            box-shadow: 0 0 3px $shadow-color inset;
        }
    }
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: calc(100vh - 191px);

    td, th, li, p {
        font-size: 1.2rem;
    }
    
    th {
        font-weight: bolder;
        padding: 5px;
    }

    td {
        text-align: center;
    }

}

div.page {
    width: 750px;
    padding: 15px;
    box-shadow: 0 0 10px $shadow-color;
    background: white;
    
    + div.page {
        margin-top: 15px;
    }
}

.picture-frame {
    overflow: hidden;
    box-shadow: 0 0 7px $shadow-color;
}

#about {
    .profile {
        margin: 20px;
        float: left;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        box-shadow: 0 0 10px $shadow-color;

        > img {
            width: 160px;
            height: auto;
            margin: -10px -10px;
        }
    }

    #collage {
        clear: both;
        width: 100%;
        height: 400px;
        box-shadow: 0 0 10px $shadow-color;
        column: {
            count: 3;
            gap: 0;
        }

        img {
            width: 100%;
        }

        .picture-frame {
            box-shadow: none;
            &:nth-child(1) {
                height: 150px;

                img {
                    margin-top: -75px;
                }
            }

            &:nth-child(2) {
                height: 250px;
            }

            &:nth-child(3) {
                height: 215px;

                img {
                    width: 130%;
                }
            }
            
            &:nth-child(4) {
                height: 185px;

                img {
                    margin-top: -35px;
                    margin-left: -15%;
                    width: 140%;
                }
            }
            
            &:nth-child(5) {
                height: 160px;
            }
            
            &:nth-child(6) {
                height: 240px;

                img {
                    margin-top: -30px;
                }
            }
        }
        
        > div {
            display: flex;
            flex-direction: column;
        }
    }
    

}

#projects {
    h3 {
        margin: 20px -10px 5px;
        clear: both;
    }

    time {
        font-style: italic;
        margin: 5px;
    }


    .picture-frame {
        float: right;
        width: 40%;
        margin-top: 20px;

        img {
            width: 100%;
            height: 100%;
            max-height: 300px;
        }
    }
}

#contact {
    > div {
        display: flex;
        justify-content: center;

        .option {
            margin: 10px 0px;
            padding: 10px 40px;
            text-align: center;

            h3 {
                margin: 5px;
            }

            p {
                font-size: 1.4rem;

                a {
                    text-decoration: none;
                }
            }

            & + .option {
                border-left: 1px solid black;
            }
        }
    }
}

footer {
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
    bottom: 0;
    padding: 5px;
    text-align: center;
    font-weight: 200;
    background: white;
    box-shadow: 0 0 15px $shadow-color;
    background: $primary-color;
    color: $text-primary-color;
}