html {
  height: 100%; }

body {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  background: #002f6c; }

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 20px;
  z-index: 10;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #01579b;
  color: #ffffff; }

h1 {
  font-size: 3.6rem;
  font-weight: 100;
  margin: 0; }

h2 {
  font-size: 3rem;
  font-weight: 200;
  margin: 5px; }

h3 {
  font-size: 1.7rem;
  margin-bottom: 5px;
  font-weight: 300;
  padding: 3px 5px;
  background: #8e0000;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

a, a:visited {
  color: #8e0000; }

a:hover {
  color: #c62828;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }

nav {
  position: fixed;
  top: 10px;
  right: 50%;
  margin-top: 110px;
  margin-right: 400px;
  padding: 5px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #c62828; }
  nav > a {
    color: #ffffff;
    padding: 10px;
    font-size: 1.7rem;
    text-align: center;
    text-decoration: none; }
    nav > a:visited {
      color: #ffffff; }
    nav > a:hover {
      background: #ff5f52;
      color: #ffffff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
    nav > a.active {
      background: #8e0000;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: calc(100vh - 191px); }
  main td, main th, main li, main p {
    font-size: 1.2rem; }
  main th {
    font-weight: bolder;
    padding: 5px; }
  main td {
    text-align: center; }

div.page {
  width: 750px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white; }
  div.page + div.page {
    margin-top: 15px; }

.picture-frame {
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }

#about .profile {
  margin: 20px;
  float: left;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  #about .profile > img {
    width: 160px;
    height: auto;
    margin: -10px -10px; }

#about #collage {
  clear: both;
  width: 100%;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  column-count: 3;
  column-gap: 0; }
  #about #collage img {
    width: 100%; }
  #about #collage .picture-frame {
    box-shadow: none; }
    #about #collage .picture-frame:nth-child(1) {
      height: 150px; }
      #about #collage .picture-frame:nth-child(1) img {
        margin-top: -75px; }
    #about #collage .picture-frame:nth-child(2) {
      height: 250px; }
    #about #collage .picture-frame:nth-child(3) {
      height: 215px; }
      #about #collage .picture-frame:nth-child(3) img {
        width: 130%; }
    #about #collage .picture-frame:nth-child(4) {
      height: 185px; }
      #about #collage .picture-frame:nth-child(4) img {
        margin-top: -35px;
        margin-left: -15%;
        width: 140%; }
    #about #collage .picture-frame:nth-child(5) {
      height: 160px; }
    #about #collage .picture-frame:nth-child(6) {
      height: 240px; }
      #about #collage .picture-frame:nth-child(6) img {
        margin-top: -30px; }
  #about #collage > div {
    display: flex;
    flex-direction: column; }

#projects h3 {
  margin: 20px -10px 5px;
  clear: both; }

#projects time {
  font-style: italic;
  margin: 5px; }

#projects .picture-frame {
  float: right;
  width: 40%;
  margin-top: 20px; }
  #projects .picture-frame img {
    width: 100%;
    height: 100%;
    max-height: 300px; }

#contact > div {
  display: flex;
  justify-content: center; }
  #contact > div .option {
    margin: 10px 0px;
    padding: 10px 40px;
    text-align: center; }
    #contact > div .option h3 {
      margin: 5px; }
    #contact > div .option p {
      font-size: 1.4rem; }
      #contact > div .option p a {
        text-decoration: none; }
    #contact > div .option + .option {
      border-left: 1px solid black; }

footer {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  bottom: 0;
  padding: 5px;
  text-align: center;
  font-weight: 200;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #01579b;
  color: #ffffff; }
