html {
  height: 100%; }

body {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  height: 100%; }

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 20px;
  z-index: 10;
  text-align: center;
  border-bottom: 1px solid black;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }

h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0; }

h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: 5px; }

nav {
  border: 1px solid black;
  position: fixed;
  top: 10px;
  right: 50%;
  margin-top: 100px;
  margin-right: 395px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1; }
  nav > a {
    color: black;
    padding: 10px;
    margin: 0 5px;
    font-size: 1.7rem;
    text-align: center;
    text-decoration: none; }
    nav > a:hover {
      text-shadow: 0 0 60px rgba(0, 0, 0, 0.3); }
  nav > a + a {
    border-top: 1px solid black; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: calc(100vh - 192px); }
  main p {
    font-size: 1.2rem; }

div.page {
  width: 750px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  div.page + div.page {
    margin-top: 15px; }

.picture-frame {
  overflow: hidden; }

#about #profile-picture {
  margin: 20px;
  float: left;
  border-radius: 50%;
  height: 150px;
  width: 150px; }
  #about #profile-picture > img {
    width: 160px;
    height: auto;
    margin: -10px -10px; }

#about #collage {
  clear: both;
  width: 100%;
  height: 400px;
  column-count: 3;
  column-gap: 0; }
  #about #collage img {
    width: 100%; }
  #about #collage .picture-frame:nth-child(1) {
    height: 150px; }
    #about #collage .picture-frame:nth-child(1) img {
      margin-top: -75px; }
  #about #collage .picture-frame:nth-child(2) {
    height: 250px; }
  #about #collage .picture-frame:nth-child(3) {
    height: 215px; }
    #about #collage .picture-frame:nth-child(3) img {
      width: 130%; }
  #about #collage .picture-frame:nth-child(4) {
    height: 185px; }
    #about #collage .picture-frame:nth-child(4) img {
      margin-top: -35px;
      margin-left: -15%;
      width: 140%; }
  #about #collage .picture-frame:nth-child(5) {
    height: 160px; }
  #about #collage .picture-frame:nth-child(6) {
    height: 240px; }
    #about #collage .picture-frame:nth-child(6) img {
      margin-top: -30px; }
  #about #collage > div {
    display: flex;
    flex-direction: column; }

footer {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  bottom: 0;
  padding: 10px;
  text-align: center;
  border-top: 1px solid black;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
